<suite name="UniTheme2">
    <test name="Settings of UniTheme2">
        <classes>
            <!--Тест-кейсы для Общих настроек темы
            <class name="GeneralSettings_ColorScheme_ProductLists_AllCategoryLists_Var1" />
            <class name="GeneralSettings_ColorScheme_ProductLists_AllCategoryLists_Var2" />
            <class name="GeneralSettings_ProductLists_GridListView_Var1" />
            <class name="GeneralSettings_ProductLists_GridListView_Var2" />
            <class name="GeneralSettings_ProductLists_ListWithoutOptions_Var1" />
            <class name="GeneralSettings_ProductLists_ListWithoutOptions_Var2" />
            <class name="GeneralSettings_ProductLists_CompactList_Var1" />
            <class name="GeneralSettings_ProductLists_CompactList_Var2" />
            <class name="GeneralSettings_ProductPage_Var1" />
            <class name="GeneralSettings_ProductPage_Var2" />
            <class name="GeneralSettings_ProductPage_Var3" />-->

            <!--Тест-кейсы для настроек Цветосхемы
            <class name="ColorSchemeSettings_Product_Var1" />
            <class name="ColorSchemeSettings_General_Var1" />
            <class name="ColorSchemeSettings_General_Var2" />-->

            <!--Тест-кейсы для Меню на витрине -->
            <class name="menu.Menu01_Horizontal_RowFilling_6columns" />
            <class name="menu.Menu02_Horizontal_RowFilling_5columns" />
            <class name="menu.Menu03_Horizontal_RowFilling_4columns" />
            <class name="menu.Menu04_Horizontal_RowFilling_2columns" />
            <class name="menu.Menu05_Horizontal_RowFilling_1column" />
            <class name="menu.Menu10_Horizontal_ColumnFilling_6columns" />
            <class name="menu.Menu11_Horizontal_ColumnFilling_5columns" />
            <class name="menu.Menu12_Horizontal_ColumnFilling_4columns" />
            <class name="menu.Menu13_Horizontal_ColumnFilling_2columns" />
            <class name="menu.Menu14_Horizontal_ColumnFilling_1column" />
            <class name="menu.Menu20_Vertical_ColumnFilling_4columns_FullView" />
            <class name="menu.Menu21_Vertical_ColumnFilling_5columns_FullView" />
            <class name="menu.Menu22_Vertical_ColumnFilling_2columns_FullView" />
            <class name="menu.Menu23_Vertical_ColumnFilling_1column_FullView" />
            <class name="menu.Menu24_Vertical_ColumnFilling_2columns_CompactView" />
            <class name="menu.Menu25_Vertical_ColumnFilling_1column_CompactView" />
            <class name="menu.Menu30_Vertical_RowFilling_5columns_FullView" />
            <class name="menu.Menu31_Vertical_RowFilling_4columns_FullView" />
            <class name="menu.Menu32_Vertical_RowFilling_2columns_FullView" />
            <class name="menu.Menu33_Vertical_RowFilling_1column_FullView" />
            <class name="menu.Menu34_Vertical_RowFilling_3columns_CompactView" />
            <class name="menu.Menu35_Vertical_RowFilling_1column_CompactView" />
            <class name="menu.Menu40_3LevelMenu_Horizontal_RowFilling" />
            <class name="menu.Menu41_3LevelMenu_Horizontal_ColumnFilling" />
            <class name="menu.Menu42_3LevelMenu_Vertical_ColumnFilling_FullView" />
            <class name="menu.Menu43_3LevelMenu_Vertical_RowFilling_FullView" />
            <class name="menu.Menu44_3LevelMenu_Vertical_RowFilling_CompactView" />
            <class name="menu.Menu45_3LevelMenu_Vertical_ColumnFilling_AddCategories_FullView" />
            <class name="menu.Menu46_3LevelMenu_Vertical_ColumnFilling_AddCategories_CompactView" />
            <class name="menu.Menu47_3LevelMenu_Vertical_RowFilling_AddCategories_FullView" />
            <class name="menu.Menu48_3LevelMenu_Vertical_RowFilling_AddCategories_CompactView" />
            <class name="menu.Menu50_FlyMenu_Var1" />
            <class name="menu.Menu51_FlyMenu_Var2" />
        </classes>
    </test>
</suite>