<suite name="UniTheme2">
    <test name="General settings of UniTheme2">
        <classes>
            <class name="GeneralSettings_ColorScheme_ProductLists_AllCategoryLists_Var1" />
            <class name="GeneralSettings_ColorScheme_ProductLists_AllCategoryLists_Var2" />
            <class name="GeneralSettings_ProductLists_GridListView_Var1" />
            <class name="GeneralSettings_ProductLists_GridListView_Var2" />
            <class name="GeneralSettings_ProductLists_ListWithoutOptions_Var1" />
            <class name="GeneralSettings_ProductLists_ListWithoutOptions_Var2" />
            <class name="GeneralSettings_ProductLists_CompactList_Var1" />
            <class name="GeneralSettings_ProductLists_CompactList_Var2" />
            <class name="GeneralSettings_ProductPage_Var1" />
            <class name="GeneralSettings_ProductPage_Var2" />
            <class name="GeneralSettings_ProductPage_Var3" />
            <class name="ColorSchemeSettings_Product_Var1" />
            <class name="ColorSchemeSettings_General_Var1" />
            <class name="ColorSchemeSettings_General_Var2" />

            <!--Тест-кейсы для меню на витрине
            <class name="Menu01_Horizontal_RowFilling_6columns" />
            <class name="Menu02_Horizontal_RowFilling_5columns" />
            <class name="Menu03_Horizontal_RowFilling_4columns" />
            <class name="Menu04_Horizontal_RowFilling_2columns" />
            <class name="Menu05_Horizontal_RowFilling_1column" /> -->
        </classes>
    </test>
</suite>